FRONTEND_BIND=127.0.0.1:1338:1337
ODYSEE_FRONTEND_TAG=latest
WEB_CONCURRENCY=8
LBRY_WEB_API=https://api.odysee.com
HYPERBEAM_MULTIREQUEST_MODULE_ID=rxgzJWaKqkhIve9wVPxGm-ozzztUFvJFBzpnE8VGPRA
HOMEPAGE_HYPERBEAM_AUTH_TOKEN=
HOMEPAGE_SNAPSHOT_COMMITTER=
HOMEPAGE_SNAPSHOT_LOOKBACK_HOURS=168
HOMEPAGE_MATERIALIZE_INTERVAL_MS=3600000
CHAINQUERY_MYSQL_PASSWORD=replace-me
CUSTOM_HOMEPAGE_DIR=/home/odysee/odysee-homepages/homepages/v2
CUSTOM_HOMEPAGE_SNAPSHOT_FILE=/home/odysee/odysee-homepages/homepages/materialized-homepages-v2.json
CUSTOM_HOMEPAGE_SNAPSHOT_MAX_AGE_MS=900000
WATCHTOWER_POLL_INTERVAL=300
DOCKER_CONFIG_DIR=/home/odysee/.docker
DOCKER_API_VERSION=1.44
