/.env
/.env.*
!/odysee-frontend/.env.example
!/odysee-frontend/.env.defaults

/tmp/
/_build/
/.pnpm-store/

hyperbeam/_build/
hyperbeam/deps/
hyperbeam/log/

references/hyperbeam-bhavya/_build/
references/hyperbeam-bhavya/deps/
references/hyperbeam-bhavya/log/
references/hyperbeam-rave/_build/
references/hyperbeam-rave/deps/
references/hyperbeam-rave/log/

odysee-frontend/node_modules/
odysee-frontend/web/node_modules/
odysee-frontend/playwright-report/
odysee-frontend/test-results/
